.menu-page {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 340px;
}

.menu-page li:not(:last-child) {
  margin-bottom: 30px;
}

.menu-page li {
  list-style-type: none;
}

.menu-page li:hover {
  color: var(--icon-color-active);
}

.menu-links {
  text-align: center;
  padding: 10px 0;
  background-color: black;
  border-radius: 30px;
  display: block;
  text-decoration: none;
  color: var(--icon-color);
}

.menu-links:hover {
  color: var(--icon-color-active);
}

@media (min-width: 769px) {
  .menu-page {
    margin: 0 auto;
    padding: 0;
    width: 400px;
  }

  .menu-page li:not(:last-child) {
    margin-bottom: 30px;
  }

  .menu-page li {
    list-style-type: none;
  }

  .menu-page li:hover {
    color: var(--icon-color-active);
  }

  .menu-links {
    text-align: center;
    padding: 10px 0;
    background-color: black;
    border-radius: 30px;
    display: block;
    text-decoration: none;
    color: var(--icon-color);
  }

  .menu-links:hover {
    color: var(--icon-color-active);
  }
}
