.menu-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: var(--modal-background-color);
}

.menu-content {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
    width: 400px;
}

.menu-close-button {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1001;
}

.header-buttons:hover {
    color: var(--primary-text-color);
}


.menu-page {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.menu-links {
    display: block;
    padding: 10px 0;
    color: var(--secondary-text-color);
    background-color: var(--primary-element-color);
    border-radius: 30px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.menu-links:hover {
    color: var(--primary-text-color);
}

@media (min-width: 768px) {
    .menu-content {
        max-width: 100%;
        width: 400px;
    }

    .menu-close-button {
        top: 40px;
        left: 40px;
    }
}