.burger-button {
  padding: 6px;
  border-radius: 50%;
  font-size: 28px;
  background-color: var(--primary-element-color);
  color: var(--secondary-text-color);
  line-height: 1;
}

.burger-button:hover {
  color: var(--primary-text-color);
}
