.burger-button {
  background-color: var(--primary-element-color);
  padding: 6px;
  border-radius: 50%;
  font-size: 28px;
  line-height: 1;
  color: var(--secondary-text-color);
}

.burger-button:hover {
  color: var(--primary-text-color);
}
