.about-wrapper {
  margin: 0 auto;
  border-radius: var(--container-border-radius);
  background-color: var(--primary-element-color);
}

.about-title {
  padding: 20px 20px 0 20px;
  margin: 0;
  color: var(--primary-text-color);
}

.about-text {
  padding: 0 20px 0 20px;
  color: var(--secondary-text-color);
}

.about-text a {
  color: var(--accent-text-color);
}

.about-text p:last-of-type {
  margin-bottom: 0px;
}

@media (min-width: 769px) {
  .about-title {
    padding: 40px 40px 0 40px;
  }

  .about-text {
    padding: 0 40px 0 40px;
  }
}
