.page-wrapper {
    background-color: var(--primary-element-color);
    border-radius: var(--container-border-radius);
    padding: 20px
}

.about-text a {
    color: var(--accent-text-color);
}

.about-text p:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .page-title-container {
        padding: 40px 40px 0 40px;
    }

    .about-text {
        padding: 0 40px;
    }
}
