.about-wrapper {
  width: 340px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: var(--primary-element-color-dt);
}

.about-title {
  width: 300px;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--primary-text-color-dt);
}

.about-text {
  width: 300px;
  height: auto;
  margin: 0 auto;
  color: var(--secondary-text-color-dt);
}

.about-text a {
  word-wrap: break-word;
  transition: none;
  color: var(--accent-text-color-dt);
}

[data-theme='light'] {
  .about-wrapper {
    background-color: var(--primary-element-color-lt);
  }
}

[data-theme='light'] {
  .about-title {
    color: var(--primary-text-color-lt);
  }
}

[data-theme='light'] {
  .about-text {
    color: var(--secondary-text-color-lt);
  }
}

[data-theme='light'] {
  .about-text a {
    color: var(--accent-text-color-lt);
  }
}

@media (min-width: 769px) {
  .about-wrapper {
    width: 1320px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: var(--primary-element-color-dt);
  }

  .about-title {
    width: 1240px;
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    color: var(--primary-text-color-dt);
  }

  .about-text {
    width: 1240px;
    height: 590px;
    margin: 0 auto;
    color: var(--secondary-text-color-dt);
  }

  .about-text a {
    transition: none;
    color: var(--accent-text-color-dt);
  }

  [data-theme='light'] {
    .about-wrapper {
      background-color: var(--primary-element-color-lt);
    }
  }

  [data-theme='light'] {
    .about-title {
      color: var(--primary-text-color-lt);
    }
  }

  [data-theme='light'] {
    .about-text {
      color: var(--secondary-text-color-lt);
    }
  }

  [data-theme='light'] {
    .about-text a {
      color: var(--accent-text-color-lt);
    }
  }
}
