.contact-form {
  width: 340px;
  height: 610px;
  margin: 0 auto;
}

.form-input,
.form-textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-element-color-dt);
  margin-bottom: 30px;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: var(--secondary-text-color-dt);
}

.form-textarea {
  resize: none;
  padding: 10px 20px;
}

.submit-btn {
  width: 100%;
  background-color: var(--accent-element-color-dt);
  color: var(--secondary-text-color-dt);
  border-radius: 20px;
}

[data-theme='light'] {
  .form-input,
  .form-textarea {
    background-color: var(--primary-element-color-lt);
  }
}

[data-theme='light'] {
  .form-input::placeholder,
  .form-textarea::placeholder {
    color: var(--primary-text-color-lt);
  }
}

[data-theme='light'] {
  .submit-btn {
    background-color: var(--accent-element-color-lt);
    color: var(--secondary-text-color-lt);
  }
}

@media (min-width: 769px) {
  .contact-form {
    width: 400px;
    height: 610px;
    margin: 0 auto;
  }

  .form-input,
  .form-textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--primary-element-color-dt);
    margin-bottom: 30px;
  }

  .form-input::placeholder,
  .form-textarea::placeholder {
    color: var(--secondary-text-color-dt);
  }

  .form-textarea {
    resize: none;
    padding: 10px 20px;
  }

  .submit-btn {
    width: 100%;
    background-color: var(--accent-element-color-dt);
    color: var(--secondary-text-color-dt);
    border-radius: 20px;
  }

  .submit-btn:hover {
    color: var(--primary-text-color-dt);
  }

  [data-theme='light'] {
    .form-input,
    .form-textarea {
      background-color: var(--primary-element-color-lt);
    }
  }

  [data-theme='light'] {
    .form-input::placeholder,
    .form-textarea::placeholder {
      color: var(--primary-text-color-lt);
    }
  }

  [data-theme='light'] {
    .submit-btn {
      background-color: var(--accent-element-color-lt);
      color: var(--secondary-text-color-lt);
    }
  }

  [data-theme='light'] {
    .submit-btn:hover {
      color: var(--primary-text-color-lt);
    }
  }
}
