.contact-form {
  width: 340px;
  height: 610px;
  margin: 0 auto;
}

.form-input,
.form-textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  color: #cdcdcd;
  margin-bottom: 30px;
}

.form-textarea {
  resize: none;
  padding: 10px 20px;
}

.submit-btn {
  width: 100%;
  background-color: #005585;
  color: #cdcdcd;
  border-radius: 20px;
}

@media (min-width: 769px) {
  .contact-form {
    width: 400px;
    height: 610px;
    margin: 0 auto;
  }

  .form-input,
  .form-textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #000000;
    color: #cdcdcd;
    margin-bottom: 30px;
  }

  .form-textarea {
    resize: none;
    padding: 10px 20px;
  }

  .submit-btn {
    width: 100%;
    background-color: #005585;
    color: #cdcdcd;
    border-radius: 20px;
  }
}
