:root {
  /* Dark theme colors: */
  --background-color-dt: #15161b;
  --primary-text-color-dt: #ffffff;
  --primary-element-color-dt: #000000;
  --secondary-text-color-dt: #cdcdcd;
  --secondary-element-color-dt: rgba(0, 0, 0, 0.5);
  --accent-text-color-dt: #ffc700;
  --accent-element-color-dt: #005585;

  --icon-color-dt: #cdcdcd;
  --icon-color-dt-active: #ffffff;

  --form-color-dt: #ffffff;

  /* Light theme colors: */
  --background-color-lt: #c4c7ca;
  --primary-text-color-lt: #000000;
  --primary-element-color-lt: #ffffff;
  --secondary-text-color-lt: #333333;
  --secondary-element-color-lt: rgba(0, 0, 0, 0.1);
  --accent-text-color-lt: #0080c8;
  --accent-element-color-lt: #00a3ff;

  --form-color-lt: #000000;

  /* Feature*/
  --feature-color: rgba(0, 85, 133, 0.8);
  --container-border-radius: 20px;
  --container-border-raduis-m: 20px;

  --icon-font-size: 28px;
}

[data-theme='light'] {
  --background-color: var(--background-color-lt);
  --primary-text-color: var(--primary-text-color-lt);
  --primary-element-color: var(--primary-element-color-lt);
  --secondary-text-color: var(--secondary-text-color-lt);
  --secondary-element-color: var(--secondary-element-color-lt);
  --accent-text-color: var(--accent-text-color-lt);
  --accent-element-color: var(--accent-element-color-lt);
  --feature-color: var(--feature-color);
  --form-color: var(--form-color-lt);
  --icons-font-size: var(--icon-font-size);
}

[data-theme='dark'] {
  --background-color: var(--background-color-dt);
  --primary-text-color: var(--primary-text-color-dt);
  --primary-element-color: var(--primary-element-color-dt);
  --secondary-text-color: var(--secondary-text-color-dt);
  --secondary-element-color: var(--secondary-element-color-dt);
  --accent-text-color: var(--accent-text-color-dt);
  --accent-element-color: var(--accent-element-color-dt);
  --feature-color: var(--feature-color);
  --form-color: var(--form-color-dt);
  --icons-font-size: var(--icon-font-size);
}

body {
  color: var(--secondary-text-color);
  background-color: var(--background-color);
}
