:root {
  --light-font-color: #fff;
  --bg-font-color: #15161b;
  --bg-color: #15161b;
  --main-text-color-light: #000000;
  --main-background-color-light: #c4c7ca;
  --main-text-color-dark: #ffffff;
  --main-background-color-dark: #242424;
  --menu-button-color: #1a1a1a;
  --icon-color: #cdcdcd;
  --icon-color-active: #cdcdcd;
}

[data-theme='light'] {
  --main-text-color: var(--main-text-color-light);
  --main-background-color: var(--main-background-color-light);
}

[data-theme='dark'] {
  --main-text-color: var(--main-text-color-dark);
  --main-background-color: var(--main-background-color-dark);
}

body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}
